<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to TravelBook</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Welcome to a <br> TravelBook!</h1>
      <a href="https://dev-erzw805b.eu.auth0.com/authorize?audience=travelbook&response_type=token&client_id=RSilWGC5JNrZtgPsM9CLK6X5NZMNFWtJ&redirect_uri=https://127.0.0.1:8080"><button type="button" name="login" style="color: #fff; background-color: #20407b; border-radius: 4px; height: 50px; width: 200px;">LOGIN</button></a>
    </div>
  </body>
</html>
